[submodule "calyx/third-party-paid"]
	path = calyx/third-party-paid
	url = git@github.com:calyx-servicios/third-party-paid.git
	branch = 13.0
[submodule "CybroAddons/CybroAddons"]
	path = CybroAddons/CybroAddons
	url = git@github.com:CybroOdoo/CybroAddons.git
	branch = 13.0
